<div class="container">

  <div class="bg-light p-5 rounded my-4">
    <h2 class="col-12 ms-2">投稿した質問</h2>
  </div>
  <div class="card-body my-5">
    <div class="d-flex justify-content-between">

      <div>
        <div class="my-3">
          <% if @question.user.image.attached? %>
            <%= image_tag @question.user.image, class: "rounded-circle", size: "60x60" %>
          <%else%>
            <%= image_tag "rabbit_logo.png", class: "rounded-circle", size: "60x60" %>
          <%end%>
          <span class="<%= "user_color" if current_user && current_user.id == @question.user_id %>">
            <%= @question.user.name %>
          </span><br>
        </div>
        タイトル：<%= @question.title %><br>
        内容：<%= @question.body %><br>
        <div class="my-3">
          <% @question.tags.each do |tag| %>
            <%= link_to tagged_questions_path(tag_name: tag.name), class: "btn btn-info" do %>
              <%= tag.name %>
            <% end %>
          <% end %>
        </div>
        <div>
          <% if @question.image.attached? %>
            <%= image_tag @question.image, class: "my-5 question-img" %>
          <% end %>
        </div>
      </div>

      <div>
        <% if current_user && current_user.id == @question.user_id %>
          <div class="d-flex">
            <%= link_to_unless @question.best_answer_id, '編集', edit_question_path(@question), class: 'btn bg-light me-1 px-3 btn-responsive' %>
            <button type="button" class="btn btn-danger px-3 btn-responsive" data-bs-toggle="modal" data-bs-target="#deleteModal">削除</button>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">削除確認</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  質問を削除してもよろしいですか？この操作は元に戻せません。
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                  <%= link_to '削除', question_path(@question), method: :delete, class: 'btn btn-danger' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <% @question.answers.each do |answer| %>
      <div class="col-lg-11 col-md-11">
        <div class="card h-100">
          <div class="card-body  <%= "best-answer" if @question.best_answer_id == answer.id %>">

            <div class="my-3">
              <% if answer.user.image.attached? %>
                <%= image_tag answer.user.image, class: "rounded-circle", size: "60x60" %>
              <%else%>
                <%= image_tag "rabbit_logo.png", class: "rounded-circle", size: "60x60" %>
              <%end%>
              <span class="<%= "user_color" if current_user && current_user.id == answer.user_id %>">
                <%= answer.user.name %>
              </span><br>
            </div>
            <div><%= answer.body %></div>

            <% answer.reactions.each do |reaction| %>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="card h-100">
                    <div class="card-body">
                      <div><%= reaction.body %></div>


                      <% if current_user && current_user.id == reaction.user_id %>
                        <div style="text-align: right;">
                          <%= link_to "編集", edit_reaction_path(reaction), class: "btn btn-light" %>
                          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-<%= reaction.id %>">
                            削除
                          </button>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal-<%= reaction.id %>" tabindex="-1" aria-labelledby="deleteModalLabel-<%= reaction.id %>" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel-<%= reaction.id %>">削除の確認</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                              </div>
                              <div class="modal-body">
                                この返信を削除してよろしいですか？
                              </div>
                              <div class="modal-footer">
                                <%= link_to "削除", reaction_path(reaction), method: :delete, class: "btn btn-danger" %>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <br>
            <% end %>
            <% if current_user && current_user.id == @question.user_id %>
              <p class="text-right"><%= link_to '返信する', new_answer_reaction_path(answer.id), class: 'link-success' %></p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-lg-1 col-md-1 ba-parent mb-3">
        <div class="ba-child text-center">
          <% if current_user == @question.user %>
            <%= form_with(model: @question, local: true, id: 'bestAnswerForm') do |form| %>
              <%= form.hidden_field :best_answer_id, id: 'bestAnswerId', value: answer.id %>
              <div class="actions">
                <button type="button" class="btn rounded-pill bg-warning text-white" data-bs-toggle="modal" data-bs-target="#confirmModal" <%= 'disabled' if @question.best_answer_id.present? %>>Best</button>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">確認</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= answer.user.name %>さんの回答をベストアンサーにします。変更できませんが、よろしいですか？
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
              <button type="button" class="btn btn-primary" id="confirmButton">確定</button>
            </div>
          </div>
        </div>
      </div>

      <script>
      document.getElementById('confirmButton').addEventListener('click', function() {
        document.getElementById('bestAnswerForm').submit();
      });
      </script>
    <% end %>
  </div>

  <div class="my-4">
    <%= link_to '質問投稿一覧', questions_path, class: "link-success" %>
  </div>
</div>

