<h1>Editing Answer</h1>

<%= form_with(model: answer) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% answer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container p-5">
    <div class="field mb-3 w-100 row ml-0 mr-0">
      <%= form.label :user_id %>
      <%= form.text_field :user_id %>
    </div>

    <div class="field mb-3 w-100 row ml-0 mr-0">
      <%= form.label :question_id %>
      <%= form.text_field :question_id %>
    </div>

    <div class="field mb-3 w-100 row ml-0 mr-0">
      <%= form.label :body %>
      <%= form.text_area :body, class:"col-8 form-control" %>
    </div>

    <div class="actions">
      <%= form.submit '投稿', class: 'btn btn-success'  %>
    </div>
  </div>
<% end %>

