<div id="sort" class="container justify-content-center p-3">
  <div class="bg-light p-5 rounded my-4">
    <h2 class="col-12 ms-2">回答募集一覧</h2>
  </div>

  <div class="my-3">
    <h5>現在回答募集中の質問一覧です</h5>
  </div>

  <div class="d-flex justify-content-end mx-5">
    <%= link_to "新着順", { controller: "answers", action: "index", order: "recent" }, remote: true, class: "btn btn-light btn-outline-secondary btn-spacing" %>
    <%= link_to "閲覧数順", { controller: "answers", action: "index", order: "popular" }, remote: true, class: "btn btn-light btn-outline-secondary btn-spacing" %>
    <%= link_to "解決済み", { controller: "answers", action: "index", order: "resolved" }, remote: true, class: "btn btn-light btn-outline-secondary" %>
  </div>

  <div class="row text-center py-3 px-5">
    <% @questions.each do |question| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-img-container">
            <% if question.image.attached? %>
              <%= image_tag question.image, class: "card-img-top" %>
            <% else %>
              <%= image_tag "question.png", class: "card-img-top" %>
            <% end %>
          </div>
          <div class="card-body">
            <h4 class="card-title question-title"><%= question.title %></h4>
            <p class="card-text  question-body"><%= question.body %></p>
          </div>
          <div class="card-footer">
            <%= link_to "回答する", new_question_answer_path(question.id), class: "link-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="my-4">
    <%= link_to "トップページ", root_path, class: "link-success me-3" %>
    <%= link_to "質問投稿一覧", questions_path, class: "link-success me-3" %>
  </div>
</div>
