<div class="container">
  <div class="bg-light p-5 rounded my-4">
    <h2 class="col-12 ms-2">回答投稿</h2>
  </div>

  <div class="my-3">
    <% if current_user.image.attached? %>
      <%= image_tag current_user.image, class: "rounded-circle", size: "60x60" %>
    <%else%>
      <%= image_tag "rabbit_logo.png", class: "rounded-circle", size: "60x60" %>
    <%end%>
    <span class="<%= "user_color" if current_user.id == @question.user_id %>">
      <%= @question.user.name %>
    </span>
  </div>

  <div>
    <div class="my-3">
      タイトル：<%= @question.title %><br>
      内容：<%= @question.body %><br>
    </div>
    <div class="my-3">
      <% @question.tags.each do |tag| %>
        <%= link_to tagged_questions_path(tag_name: tag.name), class: "btn btn-info" do %>
          <%= tag.name %>
        <% end %>
      <% end %>
    </div>
    <div>
      <% if @question.image.attached? %>
        <%= image_tag @question.image, class: "article-img my-5" %>
      <% end %>
    </div>

    <% if @question.best_answer_id.nil? %>
      <% unless current_user.id == @question.user_id %>
        <%= form_with(model: @answer, url: question_answers_path(@question), local: true) do |form| %>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
              <ul>
                <% @answer.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field mb-3 w-100 row ml-0 mr-0">
            <%= form.label :body, '回答' %>
            <%= form.text_area :body %>
          </div>

          <%= form.hidden_field :user_id, value: current_user.id %>

          <div class="actions">
            <%= form.submit '投稿', class: 'btn btn-success' %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h3 class="mt-5"><span class="p-2 border border-3 border-danger rounded-pill">解決済み</span></h3>
    <% end %>
  </div>

  <div class="row">
    <div class="p-5">
      <h3 class="col-12 ms-2">その他の回答</h3>
    </div>

    <div class="mb-5">
      <% @question.answers.each do |answer| %>
        <div class="col-lg-11 col-md-11">
          <div class="card h-100">
            <div class="card-body <%= "best-answer" if @question.best_answer_id == answer.id %>">
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <% if answer.user.image.attached? %>
                    <%= image_tag answer.user.image, class: "rounded-circle", size: "60x60" %>
                  <%else%>
                    <%= image_tag "rabbit_logo.png", class: "rounded-circle", size: "60x60" %>
                  <%end%>
                  <span class="<%= "user_color" if current_user.id == answer.user_id %>">
                    <%= answer.user.name %>
                  </span>
                </div>

                <% if current_user.id == answer.user_id %>
                  <div>
                    <% if answer && answer.persisted? %>
                      <%= link_to "編集", edit_answer_path(answer), class: "btn btn-light" %>
                    <% end %>

                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-<%= answer.id %>">
                      削除
                    </button>
                  </div>

                  <!-- Modal -->
                  <div class="modal fade" id="deleteModal-<%= answer.id %>" tabindex="-1" aria-labelledby="deleteModalLabel-<%= answer.id %>" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteModalLabel-<%= answer.id %>">削除の確認</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                        </div>
                        <div class="modal-body">
                          この回答を削除してよろしいですか？
                        </div>
                        <div class="modal-footer">
                          <% if @answer.persisted? %>
                            <%= link_to "削除", answer_path(@answer), method: :delete, class: "btn btn-danger" %>
                          <% end %>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>

              <div class="my-3"><%= answer.body %></div>
              <% answer.reactions.each do |reaction| %>
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="card h-100">
                      <div class="card-body">
                        <div><%= reaction.body %></div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
