<div class="question container justify-content-center p-5">
  <div class="row">
    <% if @questions.any? %>
      <h3 class="col-12 search-number">検索結果 <%= @cnt %>件です</h3>
        <% @questions.each do |question| %>
          <div class="col-12">
            <div class="question-search-frame">
              <div class="card">
                <div class="question-search-profile card-header">
                <% if question.user&.image.present? %>
                  <%= image_tag url_for(question.user.image), class: "rounded-circle", size: "45x45" %>
                <% else %>
                  <%= image_tag "rabbit_logo.png", class: "rounded-circle", size: "45x45" %>
                <% end %>
                  <%= question.user.name %>
                </div>
                <div class="card-body">
                  <%= link_to new_question_answer_path(question), class:"question-link link-success" do %>
                    <div class="search-title card-title"><%= question.title %></div>
                  <% end %>
                  <div class="search-body card-text"><%= question.body %></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
    <% else %>
      <div>
        <h3>検索結果はありませんでした</h3>
      </div>
    <% end %>
  </div>

  <div class="my-4">
    <%= link_to "トップページ", root_path, class: "link-success me-3" %>
  </div>
</div>
