
<div class="container justify-content-center">
  <div class="row text-center my-5">
    <h3 class="shippori-font"><%= @tag.name %> に関連する質問</h3>
    <% @questions.each do |question| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <div class="card-img-container">
            <% if question.image.attached? %>
              <%= image_tag question.image, class: "card-img-top" %>
            <% else %>
              <%= image_tag "question.png", class: "card-img-top" %>
            <% end %>
          </div>
          <div class="card-body">
            <h4 class="card-title question-title"><%= question.title %></h4>
            <p class="card-text question-body"><%= question.body %></p>
          </div>
          <div class="card-footer">
            <%= link_to 'もっと見る', new_question_answer_path(question.id), class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="my-4">
    <%= link_to "トップページ", root_path, class: "link-success me-3" %>
  </div>
</div>
