<div class="container justify-content-center">
  <div class="container justify-content-center">
    <div id="carouselExampleIndicators" class="carousel slide p-0" data-bs-ride="carousel" style="width: 100%; height: 600px;">
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('<%= asset_url 'main_1.jpg' %>'); background-size: cover;"></div>
        <div class="carousel-item" style="background-image: url('<%= asset_url 'main_2.jpg' %>'); background-size: cover;"></div>
        <div class="carousel-item" style="background-image: url('<%= asset_url 'main_3.jpg' %>'); background-size: cover;"></div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>

  <script>
  document.addEventListener("DOMContentLoaded", function() {
    const carouselItems = document.querySelectorAll('.carousel-item');
    const lgBreakpoint = 992;
    const xsBreakpoint = 576;
    const customBreakpoint = 450;

    const customImages = [
      '<%= asset_url("custom_main_1.jpg") %>',
      '<%= asset_url("custom_main_2.jpg") %>',
      '<%= asset_url("custom_main_3.jpg") %>'
    ];

    const xsImages = [
      '<%= asset_url("xs_main_1.jpg") %>',
      '<%= asset_url("xs_main_2.jpg") %>',
      '<%= asset_url("xs_main_3.jpg") %>'
    ];

    const lgImages = [
      '<%= asset_url("lg_main_1.jpg") %>',
      '<%= asset_url("lg_main_2.jpg") %>',
      '<%= asset_url("lg_main_3.jpg") %>'
    ];

    const defaultImages = [
      '<%= asset_url("main_1.jpg") %>',
      '<%= asset_url("main_2.jpg") %>',
      '<%= asset_url("main_3.jpg") %>'
    ];

    function changeCarouselImages() {
      let windowWidth = window.innerWidth;

      carouselItems.forEach((item, index) => {
        if (windowWidth <= customBreakpoint) {
          item.style.backgroundImage = `url('${customImages[index]}')`;
        } else if (windowWidth < xsBreakpoint) {
          item.style.backgroundImage = `url('${xsImages[index]}')`;
        } else if (windowWidth < lgBreakpoint) {
          item.style.backgroundImage = `url('${lgImages[index]}')`;
        } else {
          item.style.backgroundImage = `url('${defaultImages[index]}')`;
        }
      });
    }

    changeCarouselImages();
    window.addEventListener('resize', changeCarouselImages);
  });
  </script>


  <div class="my-5 text-center">
    <h2 class="shippori-font">うさぎと過ごす</h2>
    <% if user_signed_in? %>
      <%= link_to "質問する", new_question_path, class: "btn btn-success btn-lg" %>
    <% else %>
      <%= link_to "ログインして質問する", new_user_session_path, class: "btn btn-success btn-lg" %>
    <% end %>
  </div>


  <div class="px-5 pt-2">
    <%# 記事 %>
    <div class="row text-center my-5">
      <h4 class="shippori-font my-3">記事</h4>
      <% @admin_articles.each do |article| %>
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
          <%= link_to admin_article_path(article), class: "text-decoration-none" do %>
            <div class="card article-card h-100">
              <div class="card-img-container">
                <% if article.image.attached? %>
                  <%= image_tag article.image, class: "card-img-top article-img" %>
                <% else %>
                  <%= image_tag "news.png", class: "card-img-top article-img" %>
                <% end %>
              </div>
              <div class="card-body">
                <h4 class="card-title article-title"><%= article.title %></h4>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="text-end">
        <%= link_to "すべての投稿を見る", admin_articles_path, class: "text-success" %>
      </div>
    </div>

    <%# タグ %>
    <div class="row text-center justify-content-center my-5">
      <h4 class="shippori-font my-3">質問カテゴリー</h4>
      <% @tags.each_with_index do |tag, index| %>
        <div class="col-lg-2 col-md-4 col-sm-6 mb-4">
          <%= link_to tagged_questions_path(tag_name: tag.name) do %>
            <div class="image-container">
              <% image_name = "tag_#{index + 1}.jpg" %>
              <%= image_tag image_name, class: "tag-img" %>
              <div class="overlay">
                <div class="text shippori-font"><h5><%= tag.name %></h5></div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <%# 質問 %>
    <div class="row text-center my-5 p-3">
      <h4 class="shippori-font my-3">新規質問</h4>
      <% @questions.each do |question| %>
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card h-100">
            <div class="card-img-container">
              <% if question.image.attached? %>
                <%= image_tag question.image, class: "card-img-top" %>
              <% else %>
                <%= image_tag "question.png", class: "card-img-top" %>
              <% end %>
            </div>
            <div class="card-body">
              <h4 class="card-title question-title"><%= question.title %></h4>
              <p class="card-text question-body"><%= question.body %></p>
            </div>
            <div class="card-footer">
              <%= link_to 'もっと見る', new_question_answer_path(question.id), class: 'btn btn-success' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
