
<div class="container justify-content-center">
  <div class="bg-light p-5" style="width: 100%; height: 600px; background-image: url('<%= asset_path "main.jpg" %>'); background-size: cover;">
  </div>

  <div class="my-5 text-center">
    <h2>うさぎがいる生活</h2>
    <% if user_signed_in? %>
      <%= link_to "質問する", new_question_path, class: "btn btn-success btn-lg" %>
    <% else %>
      <%= link_to "ログインして質問する", new_user_session_path, class: "btn btn-success btn-lg" %>
    <% end %>
  </div>

  <div class="row text-center">
    <% @questions.each do |question| %>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%=image_tag "rabbit_2.png",class:"card-img-top" %>
          <div class="card-body">
            <h4 class="card-title"><%= question.title %></h4>
            <p class="card-text"><%= question.body %></p>
          </div>
          <div class="card-footer">
            <%= link_to 'もっと見る', new_question_answer_path(question.id), class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
